
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    max-width : 1000px;
    margin: 0 auto;
    margin-top: 2rem;
    padding-inline: 1rem;
    gap: 2rem;
}

.hide {
    display: none;
}

input {
    font-size: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    width: 100%;
}


ul {
    list-style: none;
    padding: 0;
}

button {
    font-size: 1rem;
    padding: 0;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.add-todo {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.add-todo-button {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;


}

.todo-inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    max-width: 60%;
}

.todo-input {
    width: 100%;
    border: 1px solid #cccccc;
}

.quantity-input {
    width: fit-content;
    border: 1px solid #cccccc;
}

.quantity-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #333;
    text-decoration: underline;
    width: fit-content;
}



.lists {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    gap: 1rem;
}

.lists ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}



.done-list-container, .todo-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;

}

.todo-list, .done-list {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.done-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 1.5rem;
}

.todo-list-container > h2 {
    margin: 0;
    height: 1.5rem;
}

.remove-done-button {
    bordeR: none;
    padding: 0;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
    color: #333;
}

.delete-button {
    border: none;
    padding: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #cccccc;
    height: 3rem;
    padding: 1rem;
    border-radius: 5px;
    gap: 1rem;
}

.todo-task {
    flex-grow: 1;
}

.todo-quantity {
    font-size: 1rem;
    color: #333;
    border: 1px dashed #b2b2b2;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 5px;

}

.todo-checkbox {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.done-list .todo-task {
    text-decoration: line-through;
    color: #7f7f7f;
}

/* media max width mobile .lists is column */
@media (max-width: 600px) {
    .lists {
        flex-direction: column;
    }

    .lists .todo-list-container, .lists .done-list-container {
        margin-bottom: 2rem;
    }

    .todo-inputs {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .todo-input {
        width: 100%;
    }
}